interactions:
- request:
    body: '["f4d55a4d-dda5-4fca-ace8-c87799d77a3c"]'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.uploadcare.com/files/storage/
  response:
    content: '{"status":"ok","result":[{"datetime_removed":null,"datetime_stored":"2021-09-27T09:21:02.982294Z","datetime_uploaded":"2021-09-27T06:57:39.297608Z","image_info":{"width":800,"height":665,"format":"PNG","color_mode":"RGBA","geo_location":null,"orientation":null,"dpi":null,"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/f4d55a4d-dda5-4fca-ace8-c87799d77a3c/Octocat.png","original_filename":"Octocat.png","size":32590,"url":"https://api.uploadcare.com/files/f4d55a4d-dda5-4fca-ace8-c87799d77a3c/","uuid":"f4d55a4d-dda5-4fca-ace8-c87799d77a3c","variations":null,"video_info":null}],"problems":{}}'
    headers:
      Allow:
      - DELETE, OPTIONS, PUT
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.uploadcare.com/files/f4d55a4d-dda5-4fca-ace8-c87799d77a3c/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2021-09-27T09:21:02.982294Z","datetime_uploaded":"2021-09-27T06:57:39.297608Z","image_info":{"width":800,"height":665,"format":"PNG","color_mode":"RGBA","geo_location":null,"orientation":null,"dpi":null,"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/f4d55a4d-dda5-4fca-ace8-c87799d77a3c/Octocat.png","original_filename":"Octocat.png","size":32590,"url":"https://api.uploadcare.com/files/f4d55a4d-dda5-4fca-ace8-c87799d77a3c/","uuid":"f4d55a4d-dda5-4fca-ace8-c87799d77a3c","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
