interactions:
- request:
    body: '{"paths": ["2dcf583f-8de7-4b53-ae13-54c21bae39c5/document/-/format/png/"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/convert/document/
  response:
    content: '{"result": [{"original_source": "2dcf583f-8de7-4b53-ae13-54c21bae39c5/document/-/format/png/",
      "token": 22932006, "uuid": "ba1ca860-a0ac-4bcd-877c-844bf25d4aa0"}], "problems":
      {}}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/ba1ca860-a0ac-4bcd-877c-844bf25d4aa0/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2021-10-25T14:16:31.037613Z","datetime_uploaded":"2021-10-25T14:16:31.037613Z","image_info":null,"is_image":null,"is_ready":false,"mime_type":"","original_file_url":null,"original_filename":"","size":0,"url":"https://api.uploadcare.com/files/ba1ca860-a0ac-4bcd-877c-844bf25d4aa0/","uuid":"ba1ca860-a0ac-4bcd-877c-844bf25d4aa0","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
version: 1
