interactions:
- request:
    body: '{"paths": ["72967d89-18bd-4906-a675-762ae721ccb5/video/-/size/640x480/add_padding/-/quality/lighter/"],
      "store": "true"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/convert/video/
  response:
    content: '{"result": [{"original_source": "72967d89-18bd-4906-a675-762ae721ccb5/video/-/size/640x480/add_padding/-/quality/lighter/",
      "token": 949951680, "uuid": "db5c0182-4601-432e-84ed-e6fffff38b26", "thumbnails_group_uuid":
      "b126946f-1ead-4309-8b7e-c62b0f9b823c~1"}], "problems": {}}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/db5c0182-4601-432e-84ed-e6fffff38b26/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2021-10-13T13:33:42.882092Z","datetime_uploaded":"2021-10-13T13:33:42.882092Z","image_info":null,"is_image":null,"is_ready":false,"mime_type":"","original_file_url":null,"original_filename":"video.mp4","size":0,"url":"https://api.uploadcare.com/files/db5c0182-4601-432e-84ed-e6fffff38b26/","uuid":"db5c0182-4601-432e-84ed-e6fffff38b26","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
version: 1
