interactions:
- request:
    body: '["630a1322-a3b4-4873-a0a0-0ba6d6668eb5", "dda35f47-3add-4736-b406-f48af2548c5b"]'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.uploadcare.com/files/storage/
  response:
    content: '{"status":"ok","result":[{"datetime_removed":"2021-09-27T08:27:44.266910Z","datetime_stored":null,"datetime_uploaded":"2021-09-20T09:42:20.489041Z","image_info":{"width":722,"height":318,"format":"JPEG","color_mode":"RGB","geo_location":null,"orientation":null,"dpi":null,"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":null,"original_filename":"Screenshot
      2021-09-17 at 17.05.53.png","size":34588,"url":"https://api.uploadcare.com/files/dda35f47-3add-4736-b406-f48af2548c5b/","uuid":"dda35f47-3add-4736-b406-f48af2548c5b","variations":null,"video_info":null},{"datetime_removed":"2021-09-27T08:27:44.266910Z","datetime_stored":null,"datetime_uploaded":"2021-09-20T09:43:33.333497Z","image_info":null,"is_image":false,"is_ready":true,"mime_type":"application/msword","original_file_url":null,"original_filename":"Resume-Yuliya.doc","size":134656,"url":"https://api.uploadcare.com/files/630a1322-a3b4-4873-a0a0-0ba6d6668eb5/","uuid":"630a1322-a3b4-4873-a0a0-0ba6d6668eb5","variations":null,"video_info":null}],"problems":{}}'
    headers:
      Allow:
      - DELETE, OPTIONS, PUT
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.uploadcare.com/files/630a1322-a3b4-4873-a0a0-0ba6d6668eb5/
  response:
    content: '{"datetime_removed":"2021-09-27T08:27:44.266910Z","datetime_stored":null,"datetime_uploaded":"2021-09-20T09:43:33.333497Z","image_info":null,"is_image":false,"is_ready":true,"mime_type":"application/msword","original_file_url":null,"original_filename":"Resume-Yuliya.doc","size":134656,"url":"https://api.uploadcare.com/files/630a1322-a3b4-4873-a0a0-0ba6d6668eb5/","uuid":"630a1322-a3b4-4873-a0a0-0ba6d6668eb5","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.uploadcare.com/files/dda35f47-3add-4736-b406-f48af2548c5b/
  response:
    content: '{"datetime_removed":"2021-09-27T08:27:44.266910Z","datetime_stored":null,"datetime_uploaded":"2021-09-20T09:42:20.489041Z","image_info":{"width":722,"height":318,"format":"JPEG","color_mode":"RGB","geo_location":null,"orientation":null,"dpi":null,"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":null,"original_filename":"Screenshot
      2021-09-17 at 17.05.53.png","size":34588,"url":"https://api.uploadcare.com/files/dda35f47-3add-4736-b406-f48af2548c5b/","uuid":"dda35f47-3add-4736-b406-f48af2548c5b","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
