interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.uploadcare.com/groups/?from=2015-10-21T00%3A00%3A00&ordering=-datetime_created&limit=5
  response:
    content: '{"next":"https://api.uploadcare.com/groups/?from=2015-10-20T14%3A31%3A47.315379%2B00%3A00&ordering=-datetime_created&limit=5&offset=0","previous":"https://api.uploadcare.com/groups/?ordering=-datetime_created&limit=5&to=2015-10-20T14%3A41%3A41.891200%2B00%3A00&offset=0","total":173658,"per_page":5,"results":[{"id":"5873ad80-9959-44e8-8eb5-783bad67e3a0~1","datetime_created":"2015-10-20T14:41:41.891200Z","datetime_stored":null,"files_count":1,"cdn_url":"https://ucarecdn.com/5873ad80-9959-44e8-8eb5-783bad67e3a0~1/","url":"https://api.uploadcare.com/groups/5873ad80-9959-44e8-8eb5-783bad67e3a0~1/"},{"id":"adeb1a8a-d506-4fef-9b7f-07fcd331da1f~1","datetime_created":"2015-10-20T14:40:34.831278Z","datetime_stored":null,"files_count":1,"cdn_url":"https://ucarecdn.com/adeb1a8a-d506-4fef-9b7f-07fcd331da1f~1/","url":"https://api.uploadcare.com/groups/adeb1a8a-d506-4fef-9b7f-07fcd331da1f~1/"},{"id":"81fddaeb-4c5a-4269-b115-4470a1659066~1","datetime_created":"2015-10-20T14:38:46.409414Z","datetime_stored":null,"files_count":1,"cdn_url":"https://ucarecdn.com/81fddaeb-4c5a-4269-b115-4470a1659066~1/","url":"https://api.uploadcare.com/groups/81fddaeb-4c5a-4269-b115-4470a1659066~1/"},{"id":"cefef9a2-f6db-4217-85f7-90389518a38e~1","datetime_created":"2015-10-20T14:33:16.468241Z","datetime_stored":null,"files_count":1,"cdn_url":"https://ucarecdn.com/cefef9a2-f6db-4217-85f7-90389518a38e~1/","url":"https://api.uploadcare.com/groups/cefef9a2-f6db-4217-85f7-90389518a38e~1/"},{"id":"03f9c71f-1e97-4409-8585-9967d1eca63d~1","datetime_created":"2015-10-20T14:31:47.315379Z","datetime_stored":null,"files_count":1,"cdn_url":"https://ucarecdn.com/03f9c71f-1e97-4409-8585-9967d1eca63d~1/","url":"https://api.uploadcare.com/groups/03f9c71f-1e97-4409-8585-9967d1eca63d~1/"}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.uploadcare.com/groups/?from=2015-10-20T14%3A31%3A47.315379%2B00%3A00&ordering=-datetime_created&limit=5&offset=0
  response:
    content: '{"next":"https://api.uploadcare.com/groups/?from=2015-10-20T13%3A56%3A32.128295%2B00%3A00&ordering=-datetime_created&limit=5&offset=0","previous":"https://api.uploadcare.com/groups/?ordering=-datetime_created&limit=5&offset=0&to=2015-10-20T14[...]
