interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.uploadcare.com/files/?removed=false&limit=100
  response:
    content: '{"next":"https://api.uploadcare.com/files/?removed=false&limit=100&from=2021-09-20T09%3A47%3A24.067490%2B00%3A00&offset=0","previous":null,"total":0,"per_page":100,"results":[{"datetime_removed":null,"datetime_stored":"2021-09-20T04:03:43.000212Z","datetime_uploaded":"2021-09-20T04:03:42.890122Z","image_info":null,"is_image":false,"is_ready":true,"mime_type":"application/pdf","original_file_url":"https://ucarecdn.com/e444b53c-832f-4eea-9ea4-f2a9451b76e6/Andrei_Novikau_QA_CV.pdf","original_filename":"Andrei_Novikau_QA_CV.pdf","size":276514,"url":"https://api.uploadcare.com/files/e444b53c-832f-4eea-9ea4-f2a9451b76e6/","uuid":"e444b53c-832f-4eea-9ea4-f2a9451b76e6","source":null},{"datetime_removed":null,"datetime_stored":"2021-09-20T04:20:09.293694Z","datetime_uploaded":"2021-09-20T04:20:09.160119Z","image_info":{"width":750,"height":1334,"format":"JPEG","color_mode":"RGB","geo_location":null,"orientation":1,"dpi":[144,144],"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/1c9a3ad0-10dd-4dd3-bf0d-600a5e95a379/37532.jpg","original_filename":"37532.jpg","size":182180,"url":"https://api.uploadcare.com/files/1c9a3ad0-10dd-4dd3-bf0d-600a5e95a379/","uuid":"1c9a3ad0-10dd-4dd3-bf0d-600a5e95a379","source":null},{"datetime_removed":null,"datetime_stored":"2021-09-20T04:20:32.233010Z","datetime_uploaded":"2021-09-20T04:20:32.169962Z","image_info":{"width":750,"height":13[...]
