interactions:
- request:
    body: '{"add":["cute"],"delete":["dog"]}'
    headers:
      authorization:
      - DUMMY
      content-type:
      - application/json
    method: PATCH
    uri: https://api.uploadcare.com/files/cdc00a7a-366f-4e0b-a942-9a7141b4004b/tags/
  response:
    body:
      string: '{"tags":["cat","animal","cute"],"added":["cute"],"deleted":[]}'
    headers:
      allow:
      - GET, HEAD, OPTIONS, PATCH, PUT
      content-type:
      - application/vnd.uploadcare-v0.7+json
      x-uploadcare-request-id:
      - dfaa618d-4b22-4c6d-989d-0067b5874342
    status:
      code: 200
      message: OK
version: 1
