interactions:
- request:
    body: '{"query": "sunset", "tags": {"any": ["cat"]}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/files/search/?limit=1&offset=0
  response:
    content: '{"next":null,"previous":null,"total":1,"per_page":1,"results":[{"uuid":"a55d6b25-d03c-4038-9838-6e06bb7df598","original_filename":"sunset-cat.jpg","size":1024,"mime_type":"image/jpeg","is_image":true,"is_ready":true,"tags":["cat"],"metadata":{},"highlight":{"original_filename":["<em>sunset</em>-cat.jpg"]}}]}'
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
    status_code: 200
version: 1
