interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/project/
  response:
    content: '{"collaborators":[{"name":"dmitriy.cherevatenko@uploadcare.com","email":"dmitriy.cherevatenko@uploadcare.com"},{"name":"achernenko@uploadcare.com","email":"achernenko@uploadcare.com"},{"name":"os@uploadcare.com","email":"os@uploadcare.com"}],"name":"demo","pub_key":"demopublickey","autostore_enabled":true}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
