interactions:
- request:
    body: '["23762be6-cfe3-4d27-86be-9ed7d403dd43"]'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.uploadcare.com/files/storage/
  response:
    content: '{"status":"ok","result":[{"datetime_removed":"2021-09-27T08:27:43.310084Z","datetime_stored":null,"datetime_uploaded":"2021-09-20T09:47:24.067490Z","image_info":{"width":2081,"height":2081,"format":"JPEG","color_mode":"RGB","geo_location":null,"orientation":null,"dpi":null,"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":null,"original_filename":"LXXL713338_CON_B.jpg","size":325913,"url":"https://api.uploadcare.com/files/23762be6-cfe3-4d27-86be-9ed7d403dd43/","uuid":"23762be6-cfe3-4d27-86be-9ed7d403dd43","variations":null,"video_info":null}],"problems":{}}'
    headers:
      Allow:
      - DELETE, OPTIONS, PUT
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.uploadcare.com/files/23762be6-cfe3-4d27-86be-9ed7d403dd43/
  response:
    content: '{"datetime_removed":"2021-09-27T08:27:43.310084Z","datetime_stored":null,"datetime_uploaded":"2021-09-20T09:47:24.067490Z","image_info":{"width":2081,"height":2081,"format":"JPEG","color_mode":"RGB","geo_location":null,"orientation":null,"dpi":null,"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":null,"original_filename":"LXXL713338_CON_B.jpg","size":325913,"url":"https://api.uploadcare.com/files/23762be6-cfe3-4d27-86be-9ed7d403dd43/","uuid":"23762be6-cfe3-4d27-86be-9ed7d403dd43","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
