interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.uploadcare.com/groups/?limit=100
  response:
    content: '{"next":"https://api.uploadcare.com/groups/?limit=100&from=2013-04-30T09%3A09%3A15.625678%2B00%3A00&offset=0","previous":null,"total":173658,"per_page":100,"results":[{"id":"8b1362ed-b477-4a15-819a-2c6bb497d8bd~3","datetime_created":"2013-04-16T14:13:42.600051Z","datetime_stored":"2015-02-03T11:23:47.824683Z","files_count":3,"cdn_url":"https://ucarecdn.com/8b1362ed-b477-4a15-819a-2c6bb497d8bd~3/","url":"https://api.uploadcare.com/groups/8b1362ed-b477-4a15-819a-2c6bb497d8bd~3/"},{"id":"81fb91c7-dd49-484b-a817-9b54cdf41adc~2","datetime_created":"2013-04-16T14:17:32.001395Z","datetime_stored":"2021-08-18T07:36:14.680839Z","files_count":2,"cdn_url":"https://ucarecdn.com/81fb91c7-dd49-484b-a817-9b54cdf41adc~2/","url":"https://api.uploadcare.com/groups/81fb91c7-dd49-484b-a817-9b54cdf41adc~2/"},{"id":"2ad52da8-afbd-49b0-86b0-b80c54543d34~2","datetime_created":"2013-04-18T15:33:22.503133Z","datetime_s[...]
