[flake8]
max-line-length = 100
max-complexity = 5
exclude = .venv,venv,**/migrations/*,snapshots
extend-ignore = E203,E701
per-file-ignores =
    tests/**: S101
    **/tests/**: S101
    pyuploadcare/ucare_cli/**: T003,T001,T004,T201,T203,T204
