[flake8]
max-line-length = 100
max-complexity = 5
exclude = .venv,venv,**/migrations/*,snapshots, script.py, tests/functional/test_ucare_cli.py, pyuploadcare/ucare_cli/*
per-file-ignores =
    tests/**: S101
    **/tests/**: S101
