[flake8]
extend-ignore = E203
max-line-length = 100
max-complexity = 5
exclude = .venv,venv,**/migrations/*,snapshots
per-file-ignores =
    tests/**: S101
    **/tests/**: S101
    pyuploadcare/ucare_cli/**: T003,T001,T004
