language: python
python:
  - 2.6
  - 2.7
  - 3.3
env:
  - DJANGO=django==1.4
  - DJANGO=django==1.5
install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install --use-mirrors unittest2; fi
  - pip install $DJANGO --use-mirrors
  - python setup.py install
script: nosetests tests
notifications:
  email:
    recipients:
      - valya@whitescape.com
      - dm@whitescape.com
    on_success: change
    on_failure: change
