language: python
python:
  - "2.6"
  - "2.7"
env:
  - DJANGO=django==1.4
  - DJANGO=django==1.5
install:
  - pip install $DJANGO --use-mirrors
  - python setup.py install
script: nosetests tests.py
notifications:
  email:
    recipients:
      - valya@whitescape.com
      - dm@whitescape.com
    on_success: change
    on_failure: change
