language: python
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
env:
  - DJANGO=1.4
  - DJANGO=1.5
matrix:
  exclude:
    - python: 3.2
      env: DJANGO=1.4
    - python: 3.3
      env: DJANGO=1.4
install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install --use-mirrors unittest2; fi
  - pip install django==$DJANGO --use-mirrors
  - python setup.py install
script: nosetests tests
notifications:
  email:
    recipients:
      - valya@whitescape.com
      - dm@whitescape.com
    on_success: change
    on_failure: change
