interactions:
- request:
    body: '{"query":"sunset","tags":{"all":["cat"]},"sort":["-score"]}'
    headers:
      authorization:
      - DUMMY
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/files/search/?limit=2
  response:
    body:
      string: '{"next":"https://api.uploadcare.com/files/search/?limit=2&offset=2","previous":null,"total":5,"per_page":2,"results":[{"datetime_removed":null,"datetime_stored":null,"datetime_uploaded":"2026-09-22T15:44:13.329706Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/f255e81d-27b2-44d2-a4e1-d497caec304a/sunsetbeach.jpg","original_filename":"sunset-beach.jpg","size":332,"url":"https://api.uploadcare.com/files/f255e81d-27b2-44d2-a4e1-d497caec304a/","uuid":"f255e81d-27b2-44d2-a4e1-d497caec304a","variations":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":null,"width":1,"format":"JPEG","height":1,"sequence":false,"color_mode":"L","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{},"tags":["cat"],"highlight":{"original_filename":["<em>sunset</em>-beach.jpg"]}},{"datetime_removed":null,"datetime_stored":"2026-09-21T12:44:04.692010Z","datetime_uploaded":"2026-09-21T12:44:04.546220Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/cf05d23e-06c1-4a51-8357-7be85664aaf3/sunsetpier.jpg","original_filename":"sunset-pier.jpg","size":332,"url":"https://api.uploadcare.com/files/cf05d23e-06c1-4a51-8357-7be85664aaf3/","uuid":"cf05d23e-06c1-4a51-8357-7be85664aaf3","variations":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":null,"width":1,"format":"JPEG","height":1,"sequence":false,"color_mode":"L","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{},"tags":["cat"],"highlight":{"original_filename":["<em>sunset</em>-pier.jpg"]}}]}'
    headers:
      allow:
      - OPTIONS, POST
      content-type:
      - application/vnd.uploadcare-v0.7+json
      x-uploadcare-request-id:
      - f558a0c0-2cd5-4b11-ba39-82abc632f9bd
    status:
      code: 200
      message: OK
version: 1
