interactions:
- request:
    body: '{"target": "485f5c0e-3567-46b1-a5c9-96a8ffc45713", "params": {"crop": true,
      "add_shadow": true}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/addons/remove_bg/execute/
  response:
    content: '{"request_id": "53930d55-8ecb-4b2b-ab9e-3c3b1ffe53cb"}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - 53930d55-8ecb-4b2b-ab9e-3c3b1ffe53cb
    status_code: 200
version: 1
