interactions:
- request:
    body: '{"tags":{"all":["cat"]}}'
    headers:
      authorization:
      - DUMMY
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/files/search/?include=appdata
  response:
    body:
      string: '{"next":null,"previous":null,"total":5,"per_page":20,"results":[{"datetime_removed":null,"datetime_stored":"2026-09-21T12:44:03.045110Z","datetime_uploaded":"2026-09-21T12:44:02.902248Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/cdc00a7a-366f-4e0b-a942-9a7141b4004b/sunsetcat.jpg","original_filename":"sunset-cat.jpg","size":332,"url":"https://api.uploadcare.com/files/cdc00a7a-366f-4e0b-a942-9a7141b4004b/","uuid":"cdc00a7a-366f-4e0b-a942-9a7141b4004b","variations":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":null,"width":1,"format":"JPEG","height":1,"sequence":false,"color_mode":"L","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{"album":"summer
        sunset"},"tags":["cat","animal"],"highlight":{},"appdata":{"uc_clamav_virus_scan":{"data":{"infected":false},"datetime_created":"2026-09-21T12:44:03.093066Z","datetime_updated":"2026-09-22T15:47:38.175575Z","version":"1.5.3"}}},{"datetime_removed":null,"datetime_stored":null,"datetime_uploaded":"2026-09-22T15:44:13.329706Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/f255e81d-27b2-44d2-a4e1-d497caec304a/sunsetbeach.jpg","original_filename":"sunset-beach.jpg","size":332,"url":"https://api.uploadcare.com/files/f255e81d-27b2-44d2-a4e1-d497caec304a/","uuid":"f255e81d-27b2-44d2-a4e1-d497caec304a","variations":null,"content_info":{"mime":{"mime":"image/jpeg","[...]
