interactions:
- request:
    body: '{"target": "485f5c0e-3567-46b1-a5c9-96a8ffc45713", "params": {"purge_infected":
      false}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/addons/uc_clamav_virus_scan/execute/
  response:
    content: '{"request_id": "865e5d23-f602-4338-8d3c-fb22f599aa27"}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - 865e5d23-f602-4338-8d3c-fb22f599aa27
    status_code: 200
version: 1
