interactions:
- request:
    body: '{"paths": ["da288a95-3029-4044-b902-5107e8579c5c/document/-/format/jpg/"],
      "save_in_group": "1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/convert/document/
  response:
    content: '{"result": [{"original_source": "da288a95-3029-4044-b902-5107e8579c5c/document/-/format/jpg/",
      "token": 39498673, "uuid": "482e9d07-08ee-4c6d-875f-216aabc561c9"}], "problems":
      {}}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - 7cb15931-717a-4b31-8cf7-909d7b4fe7c2
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/convert/document/status/39498673/
  response:
    content: '{"error":null,"status":"pending","result":{"uuid":"482e9d07-08ee-4c6d-875f-216aabc561c9"}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      X-Uploadcare-Request-Id:
      - 6f4fa049-5337-43b9-bdec-a5cc77793eb9
    status_code: 200
version: 1
