interactions:
- request:
    body: '{"paths": ["740e1b8c-1ad8-4324-b7ec-112c79d8eac2/video/-/format/webm/-/thumbs~2/"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/convert/video/
  response:
    content: '{"result": [{"original_source": "740e1b8c-1ad8-4324-b7ec-112c79d8eac2/video/-/format/webm/-/thumbs~2/",
      "token": 944136226, "uuid": "bc607978-b348-4585-bcc1-bde10528457c", "thumbnails_group_uuid":
      "1449e50e-35fc-4945-a0d4-4fffefe4345d~2"}], "problems": {}}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/convert/video/status/944136226/
  response:
    content: '{"status":"processing","error":null,"result":{"uuid":"bc607978-b348-4585-bcc1-bde10528457c","thumbnails_group_uuid":"1449e50e-35fc-4945-a0d4-4fffefe4345d~2"}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
version: 1
