interactions:
- request:
    body: '{"query":"nothing-matches-this"}'
    headers:
      authorization:
      - DUMMY
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/files/search/
  response:
    body:
      string: '{"next":null,"previous":null,"total":0,"per_page":20,"results":[]}'
    headers:
      allow:
      - OPTIONS, POST
      content-type:
      - application/vnd.uploadcare-v0.7+json
      x-uploadcare-request-id:
      - 7ad3cb56-acac-4ae9-a3ad-24d3f80738db
    status:
      code: 200
      message: OK
version: 1
