interactions:
- request:
    body: event=file.uploaded&target_url=https%3A%2F%2Fwebhook.site%2F699ba5a4-b178-41c7-b416-5d1b6739d052&is_active=true
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.uploadcare.com/webhooks/
  response:
    content: '{"id":847096,"created":"2021-10-06T14:34:59.112764Z","updated":"2021-10-06T14:34:59.112787Z","event":"file.uploaded","target_url":"https://webhook.site/699ba5a4-b178-41c7-b416-5d1b6739d052","project":159,"is_active":true,"signing_secret":null}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS, POST
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 201
version: 1
