interactions:
- request:
    body: '{"paths": ["0e1cac48-1296-417f-9e7f-9bf13e330dcf/document/-/format/pdf/"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/convert/document/
  response:
    content: '{"result": [{"original_source": "0e1cac48-1296-417f-9e7f-9bf13e330dcf/document/-/format/pdf/",
      "token": 22450034, "uuid": "90a65f54-1ff7-4b35-8f5d-7fa359d4950f"}], "problems":
      {}}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/convert/document/status/22450034/
  response:
    content: '{"status":"pending","error":null,"result":{"uuid":"90a65f54-1ff7-4b35-8f5d-7fa359d4950f"}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
version: 1
