interactions:
- request:
    body: "--fcc0f4ac09d7d39519a8894737625b6c\r\nContent-Disposition: form-data; name=\"\
      UPLOADCARE_STORE\"\r\n\r\nauto\r\n--fcc0f4ac09d7d39519a8894737625b6c\r\nContent-Disposition:\
      \ form-data; name=\"UPLOADCARE_PUB_KEY\"\r\n\r\ndemopublickey\r\n--fcc0f4ac09d7d39519a8894737625b6c\r\
      \nContent-Disposition: form-data; name=\"expire\"\r\n\r\n60\r\n--fcc0f4ac09d7d39519a8894737625b6c\r\
      \nContent-Disposition: form-data; name=\"signature\"\r\n\r\n7d2e71d1843788a02d0c7fe6f5d71edf657363a369112e78d4f37ace3f884b00\r\
      \n--fcc0f4ac09d7d39519a8894737625b6c\r\nContent-Disposition: form-data; name=\"\
      sample1.txt\"; filename=\"sample1.txt\"\r\nContent-Type: text/plain\r\n\r\n\
      test1\r\n--fcc0f4ac09d7d39519a8894737625b6c\r\nContent-Disposition: form-data;\
      \ name=\"sample2.txt\"; filename=\"sample2.txt\"\r\nContent-Type: text/plain\r\
      \n\r\ntest2\r\n--fcc0f4ac09d7d39519a8894737625b6c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=fcc0f4ac09d7d39519a8894737625b6c
    method: POST
    uri: https://upload.uploadcare.com/base/
  response:
    content: '{"sample1.txt":"c648a91d-08f2-4baa-9822-eb6e08456a24","sample2.txt":"5627e9f3-bdd4-402d-80a8-1f24e12dca6e"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/c648a91d-08f2-4baa-9822-eb6e08456a24/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2021-09-29T13:22:39.534337Z","datetime_uploaded":"2021-09-29T13:22:39.407733Z","image_info":null,"is_image":false,"is_ready":true,"mime_type":"text/plain","original_file_url":"https://ucarecdn.com/c648a91d-08f2-4baa-9822-eb6e08456a24/sample1.txt","original_filename":"sample1.txt","size":5,"url":"https://api.uploadcare.com/files/c648a91d-08f2-4baa-9822-eb6e08456a24/","uuid":"c648a91d-08f2-4baa-9822-eb6e08456a24","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/5627e9f3-bdd4-402d-80a8-1f24e12dca6e/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2021-09-29T13:22:39.558917Z","datetime_uploaded":"2021-09-29T13:22:39.447007Z","image_info":null,"is_image":false,"is_ready":true,"mime_type":"text/plain","original_file_url":"https://ucarecdn.com/5627e9f3-bdd4-402d-80a8-1f24e12dca6e/sample2.txt","original_filename":"sample2.txt","size":5,"url":"https://api.uploadcare.com/files/5627e9f3-bdd4-402d-80a8-1f24e12dca6e/","uuid":"5627e9f3-bdd4-402d-80a8-1f24e12dca6e","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
