interactions:
- request:
    body: pub_key=demopublickey&files%5B0%5D=https%3A%2F%2Fucarecdn.com%2F94a2218e-3526-428a-945e-65fbc06e7b35%2F&expire=60&signature=7d2e71d1843788a02d0c7fe6f5d71edf657363a369112e78d4f37ace3f884b00
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://upload.uploadcare.com/group//
  response:
    content: '{"id":"d496a4df-0b36-4281-8156-268ae9524d4a~1","datetime_created":"2021-10-19T08:36:22.326641Z","datetime_stored":null,"files_count":1,"cdn_url":"https://ucarecdn.com/d496a4df-0b36-4281-8156-268ae9524d4a~1/","url":"https://api.uploadcare.com/groups/d496a4df-0b36-4281-8156-268ae9524d4a~1/","files":[{"size":3303,"total":3303,"done":3303,"uuid":"94a2218e-3526-428a-945e-65fbc06e7b35","file_id":"94a2218e-3526-428a-945e-65fbc06e7b35","original_filename":"instellar_logo_main
      (1).png","is_image":true,"is_stored":true,"image_info":{"width":134,"height":60,"format":"PNG","color_mode":"P","geo_location":null,"orientation":null,"dpi":[72,72],"datetime_original":null,"sequence":false},"video_info":null,"is_ready":true,"filename":"instellar_logo_main1.png","mime_type":"image/png","default_effects":""}]}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
