interactions:
- request:
    body: '{"is_active": false}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.uploadcare.com/webhooks/848006/
  response:
    content: '{"id":848006,"created":"2021-10-07T07:13:37.399931Z","updated":"2021-10-07T07:14:13.219521Z","event":"file.uploaded","target_url":"https://webhook.site/699ba5a4-b178-41c7-b416-5d1b6739d052","project":159,"is_active":false,"signing_secret":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS, PUT
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
