interactions:
- request:
    body: "--a734a60e1715e2dee7b77dfbf6980eac\r\nContent-Disposition: form-data; name=\"\
      UPLOADCARE_STORE\"\r\n\r\nauto\r\n--a734a60e1715e2dee7b77dfbf6980eac\r\nContent-Disposition:\
      \ form-data; name=\"UPLOADCARE_PUB_KEY\"\r\n\r\ndemopublickey\r\n--a734a60e1715e2dee7b77dfbf6980eac\r\
      \nContent-Disposition: form-data; name=\"file\"; filename=\"tmpzikpyoms\"\r\n\
      Content-Type: application/octet-stream\r\n\r\ntest\r\n--a734a60e1715e2dee7b77dfbf6980eac--\r\
      \n"
    headers:
      content-type:
      - multipart/form-data; boundary=a734a60e1715e2dee7b77dfbf6980eac
    method: POST
    uri: https://upload.uploadcare.com/base/
  response:
    content: '{"file":"59f16dbd-f130-496c-9304-f5e05ce230d1"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/59f16dbd-f130-496c-9304-f5e05ce230d1/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2021-09-24T07:37:48.579401Z","datetime_uploaded":"2021-09-24T07:37:48.516044Z","image_info":null,"is_image":false,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/59f16dbd-f130-496c-9304-f5e05ce230d1/tmpzikpyoms","original_filename":"tmpzikpyoms","size":4,"url":"https://api.uploadcare.com/files/59f16dbd-f130-496c-9304-f5e05ce230d1/","uuid":"59f16dbd-f130-496c-9304-f5e05ce230d1","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
