interactions:
- request:
    body: "--42b8e53759cde7763949395c4f664ff8\r\nContent-Disposition: form-data; name=\"\
      UPLOADCARE_STORE\"\r\n\r\n1\r\n--42b8e53759cde7763949395c4f664ff8\r\nContent-Disposition:\
      \ form-data; name=\"metadata[one_key]\"\r\n\r\nhas rather string, but the neighbour\
      \ has almost number\r\n--42b8e53759cde7763949395c4f664ff8\r\nContent-Disposition:\
      \ form-data; name=\"metadata[score]\"\r\n\r\n56\r\n--42b8e53759cde7763949395c4f664ff8\r\
      \nContent-Disposition: form-data; name=\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/7809bb4d-f1f3-4494-83c1-086968e50f10/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2022-10-25T09:48:06.690422Z","datetime_uploaded":"2022-10-25T09:48:06.638586Z","is_image":false,"is_ready":true,"mime_type":"application/x-msdownload","original_file_url":"https://ucarecdn.com/7809bb4d-f1f3-4494-83c1-086968e50f10/_mem.exe","original_filename":"_mem.exe","size":1000,"url":"https://api.uploadcare.com/files/7809bb4d-f1f3-4494-83c1-086968e50f10/","uuid":"7809bb4d-f1f3-4494-83c1-086968e50f10","variations":null,"content_info":{"mime":{"mime":"text/plain","type":"text","subtype":"plain"}},"metadata":{"score":"56","one_key":"has
      rather string, but the neighbour has almost number"}}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.7'
      X-Uploadcare-Request-Id:
      - fc2993e0-260a-4dcf-a4e6-b21076eb3f37
    status_code: 200
version: 1
