interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/groups/2e481e82-2e39-41be-a5a2-23802c6e341c~2/
  response:
    content: '{"id":"2e481e82-2e39-41be-a5a2-23802c6e341c~2","datetime_created":"2023-07-02T20:09:42.633709Z","files_count":2,"cdn_url":"https://ucarecdn.com/2e481e82-2e39-41be-a5a2-23802c6e341c~2/","url":"https://api.uploadcare.com/groups/2e481e82-2e39-41be-a5a2-23802c6e341c~2/","files":[{"datetime_removed":null,"datetime_stored":"2023-07-02T19:57:29.447127Z","datetime_uploaded":"2023-07-02T19:57:29.355309Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/b47c1c0d-a47b-44ea-b185-9ca13d5758c1/twoofthem.jpg","original_filename":"two-of-them.jpg","size":37202,"url":"https://api.uploadcare.com/files/b47c1c0d-a47b-44ea-b185-9ca13d5758c1/","uuid":"b47c1c0d-a47b-44ea-b185-9ca13d5758c1","variations":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":[144,144],"width":640,"format":"JPEG","height":588,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{},"default_effects":""},{"datetime_removed":null,"datetime_stored":"2023-07-02T19:57:35.164770Z","datetime_uploaded":"2023-07-02T19:57:35.083237Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/25671714-8642-4b02-9fbe-f5c35848c249/twentytwoofthem.png","original_filename":"twenty-two-of-them.png","size":368339,"url":"https://api.uploadcare.com/files/25671714-8642-4b02-9fbe-f5c35848c249/","uuid":"25671714-8642-4b02-9fbe-f5c35848c249","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":800,"format":"PNG","height":788,"sequence":false,"color_mode":"P","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{},"default_effects":""}]}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      X-Uploadcare-Request-Id:
      - bd2324d6-08be-4a48-a9d8-8228ba68eca7
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/b47c1c0d-a47b-44ea-b185-9ca13d5758c1/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2023-07-02T19:57:29.447127Z","datetime_uploaded":"2023-07-02T19:57:29.355309Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/b47c1c0d-a47b-44ea-b185-9ca13d5758c1/twoofthem.jpg","original_filename":"two-of-them.jpg","size":37202,"url":"https://api.uploadcare.com/files/b47c1c0d-a47b-44ea-b185-9ca13d5758c1/","uuid":"b47c1c0d-a47b-44ea-b185-9ca13d5758c1","variations":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":[144,144],"width":640,"format":"JPEG","height":588,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      X-Uploadcare-Request-Id:
      - e75e8808-f43d-4e0f-a20e-833278641335
    status_code: 200
[...]
- request:
    body: '["b47c1c0d-a47b-44ea-b185-9ca13d5758c1", "25671714-8642-4b02-9fbe-f5c35848c249"]'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.uploadcare.com/files/storage/
  response:
    content: '{"status":"ok","result":[{"datetime_removed":"2023-07-02T20:13:05.565949Z","datetime_stored":null,"datetime_uploaded":"2023-07-02T19:57:29.355309Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":null,"original_filename":"two-of-them.jpg","size":37202,"url":"https://api.uploadcare.com/files/b47c1c0d-a47b-44ea-b185-9ca13d5758c1/","uuid":"b47c1c0d-a47b-44ea-b185-9ca13d5758c1","variations":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":[144,144],"width":640,"format":"JPEG","height":588,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}},{"datetime_removed":"2023-07-02T20:13:05.565949Z","datetime_stored":null,"datetime_uploaded":"2023-07-02T19:57:35.083237Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":null,"original_filename":"twenty-two-of-them.png","size":368339,"url":"https://api.uploadcare.com/files/25671714-8642-4b02-9fbe-f5c35848c249/","uuid":"25671714-8642-4b02-9fbe-f5c35848c249","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":800,"format":"PNG","height":788,"sequence":false,"color_mode":"P","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}}],"problems":{}}'
    headers:
      Allow:
      - DELETE, OPTIONS, PUT
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      X-Uploadcare-Request-Id:
      - a4a16944-ec81-4316-b2b2-0dc456fa7fcb
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/25671714-8642-4b02-9fbe-f5c35848c249/
  response:
    content: '{"datetime_removed":"2023-07-02T20:13:05.565949Z","datetime_stored":null,"datetime_uploaded":"2023-07-02T19:57:35.083237Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":null,"original_filename":"twenty-two-of-them.png","size":368339,"url":"https://api.uploadcare.com/files/25671714-8642-4b02-9fbe-f5c35848c249/","uuid":"25671714-8642-4b02-9fbe-f5c35848c249","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":800,"format":"PNG","height":788,"sequence":false,"color_mode":"P","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      X-Uploadcare-Request-Id:
      - 9ce95907-6429-4515-9aeb-cc72355b8f4b
    status_code: 200
version: 1
