interactions:
- request:
    body: '{"paths": ["da288a95-3029-4044-b902-5107e8579c5c/document/-/format/jpg/"],
      "save_in_group": "1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/convert/document/
  response:
    content: '{"result": [{"original_source": "da288a95-3029-4044-b902-5107e8579c5c/document/-/format/jpg/",
      "token": 39498616, "uuid": "dee1e90f-f663-4a0a-8aae-be2e50b8c137"}], "problems":
      {}}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - de637ca5-15b1-4e69-b76a-3411db7238b3
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/dee1e90f-f663-4a0a-8aae-be2e50b8c137/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2023-11-02T22:14:01.799914Z","datetime_uploaded":"2023-11-02T22:14:01.799914Z","is_image":null,"is_ready":false,"mime_type":"","original_file_url":null,"original_filename":"","size":0,"url":"https://api.uploadcare.com/files/dee1e90f-f663-4a0a-8aae-be2e50b8c137/","uuid":"dee1e90f-f663-4a0a-8aae-be2e50b8c137","variations":null,"content_info":null,"metadata":{}}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      X-Uploadcare-Request-Id:
      - 836e1465-9be1-405c-a88b-33484e7cd169
    status_code: 200
version: 1
