interactions:
- request:
    body: '{"paths": ["5dddafa0-a742-4a51-ac40-ae491201ff97/document/-/format/png/-/page/1/"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/convert/document/
  response:
    content: '{"result": [{"original_source": "5dddafa0-a742-4a51-ac40-ae491201ff97/document/-/format/png/-/page/1/",
      "token": 22449512, "uuid": "61d26c60-135b-44f9-9791-bbb7069109ac"}], "problems":
      {}}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/61d26c60-135b-44f9-9791-bbb7069109ac/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2021-10-01T08:05:08.484745Z","datetime_uploaded":"2021-10-01T08:05:08.484745Z","image_info":null,"is_image":null,"is_ready":false,"mime_type":"","original_file_url":null,"original_filename":"","size":0,"url":"https://api.uploadcare.com/files/61d26c60-135b-44f9-9791-bbb7069109ac/","uuid":"61d26c60-135b-44f9-9791-bbb7069109ac","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
version: 1
