interactions:
- request:
    body: '{"add":["animal"],"delete":["cute"]}'
    headers:
      authorization:
      - DUMMY
      content-type:
      - application/json
    method: PATCH
    uri: https://api.uploadcare.com/files/cdc00a7a-366f-4e0b-a942-9a7141b4004b/tags/
  response:
    body:
      string: '{"tags":["cat","animal"],"added":["animal"],"deleted":["cute"]}'
    headers:
      allow:
      - GET, HEAD, OPTIONS, PATCH, PUT
      content-type:
      - application/vnd.uploadcare-v0.7+json
      x-uploadcare-request-id:
      - eeb28878-d82b-494b-9cc8-442b5675f862
    status:
      code: 200
      message: OK
- request:
    body: '{"add":["animal"],"delete":["cute"]}'
    headers:
      authorization:
      - DUMMY
      content-type:
      - application/json
    method: PATCH
    uri: https://api.uploadcare.com/files/cdc00a7a-366f-4e0b-a942-9a7141b4004b/tags/
  response:
    body:
      string: '{"tags":["cat","animal"],"added":[],"deleted":[]}'
    headers:
      allow:
      - GET, HEAD, OPTIONS, PATCH, PUT
      content-type:
      - application/vnd.uploadcare-v0.7+json
      x-uploadcare-request-id:
      - daf3d1b6-9171-4add-916a-0a4abaa9d1ea
    status:
      code: 200
      message: OK
version: 1
