interactions:
- request:
    body: "--58a80df86af1e5f13e6c71074383261b\r\nContent-Disposition: form-data; name=\"\
      UPLOADCARE_STORE\"\r\n\r\nauto\r\n--58a80df86af1e5f13e6c71074383261b\r\nContent-Disposition:\
      \ form-data; name=\"UPLOADCARE_PUB_KEY\"\r\n\r\ndemopublickey\r\n--58a80df86af1e5f13e6c71074383261b\r\
      \nContent-Disposition: form-data; name=\"expire\"\r\n\r\n60\r\n--58a80df86af1e5f13e6c71074383261b\r\
      \nContent-Disposition: form-data; name=\"signature\"\r\n\r\n7d2e71d1843788a02d0c7fe6f5d71edf657363a369112e78d4f37ace3f884b00\r\
      \n--58a80df86af1e5f13e6c71074383261b\r\nContent-Disposition: form-data; name=\"\
      sample1.txt\"; filename=\"sample1.txt\"\r\nContent-Type: text/plain\r\n\r\n\
      test1\r\n--58a80df86af1e5f13e6c71074383261b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=58a80df86af1e5f13e6c71074383261b
    method: POST
    uri: https://upload.uploadcare.com/base/
  response:
    content: '{"sample1.txt":"5619329a-5540-4fb8-8622-34c90569a77e"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/5619329a-5540-4fb8-8622-34c90569a77e/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2021-09-29T13:22:37.905982Z","datetime_uploaded":"2021-09-29T13:22:37.840834Z","image_info":null,"is_image":false,"is_ready":true,"mime_type":"text/plain","original_file_url":"https://ucarecdn.com/5619329a-5540-4fb8-8622-34c90569a77e/sample1.txt","original_filename":"sample1.txt","size":5,"url":"https://api.uploadcare.com/files/5619329a-5540-4fb8-8622-34c90569a77e/","uuid":"5619329a-5540-4fb8-8622-34c90569a77e","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
