interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/
  response:
    content: '{"next":"https://api.uploadcare.com/files/?from=2021-10-12T06%3A55%3A15.392977%2B00%3A00&offset=0","previous":null,"total":0,"per_page":100,"results":[{"datetime_removed":null,"datetime_stored":"2021-10-12T03:45:57.590598Z","datetime_uploaded":"2021-10-12T03:45:57.489664Z","image_info":{"width":134,"height":60,"format":"PNG","color_mode":"P","geo_location":null,"orientation":null,"dpi":[72,72],"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/94a2218e-3526-428a-945e-65fbc06e7b35/instellar_logo_main1.png","original_filename":"instellar_logo_main
      (1).png","size":3303,"url":"https://api.uploadcare.com/files/94a2218e-3526-428a-945e-65fbc06e7b35/","uuid":"94a2218e-3526-428a-945e-65fbc06e7b35","variations":null,"video_info":null},{"datetime_removed":null,"datetime_stored":"2021-10-12T03:45:57.555119Z","datetime_uploaded":"2021-10-12T03:45:57.495047Z","image_info":{"width":123,"height":55,"format":"PNG","color_mode":"P","geo_location":null,"orientation":null,"dpi":[72,72],"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/6dbe062a-d208-46e2-9d44-ed8b86a6ebc4/Background.png","original_filename":"Background.png","size":3268,"url"[...]
[...]
