interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://ucarecdn.com/5128ec65-9957-47b8-a6ad-4c2f172ef660/detect_faces//
  response:
    content: '{"id": "5128ec65-9957-47b8-a6ad-4c2f172ef660", "orientation": null,
      "format": "JPEG", "height": 450, "width": 1200, "geo_location": null, "datetime_original":
      null, "dpi": null, "faces": [[482, 105, 199, 271], [74, 124, 194, 261], [890,
      54, 260, 316]]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"06166c7b7ab26e36f8cb6f4809ec20fb1d3a534c"'
    status_code: 200
version: 1
