interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/
  response:
    content: '{"next":"https://api.uploadcare.com/files/?from=2023-06-26T13%3A32%3A29.963883%2B00%3A00&offset=0","previous":null,"total":0,"totals":{"removed":0,"stored":-32094,"unstored":0},"per_page":100,"results":[{"datetime_removed":null,"datetime_stored":"2023-06-26T11:57:30.132274Z","datetime_uploaded":"2023-06-26T11:57:29.895187Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/8745da2d-1cbc-432b-904c-605ba74f6c55/WhatsAppImage20230626at85632AM.jpeg","original_filename":"WhatsApp
      Image 2023-06-26 at 8.56.32 AM.jpeg","size":251300,"url":"https://api.uploadcare.com/files/8745da2d-1cbc-432b-904c-605ba74f6c55/","uuid":"8745da2d-1cbc-432b-904c-605ba74f6c55","variations":null,"content_info":{"mime":{"mime":"image/jpeg","type":"image","subtype":"jpeg"},"image":{"dpi":null,"width":784,"format":"JPEG","height":741,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}},{"datetime_removed":null,"datetime_stored":"2023-06-26T11:57:41.869474Z","datetime_uploaded":"2023-06-26T11:57:41.743742Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/c28414b5-4353-42c0-9885-7033180308fc/WhatsAppImage20230626at83309AM.jpeg","original_filename":"WhatsApp
      Image 2023-06-26 at 8.33.09 AM.jpeg","size":167805,"url":"https://api.uploadcare.com/files/c28414b5-4353-42c0-9885-7033180308fc/","uuid":"c28414b5-4353-42c0-9885-70[...]
