interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/
  response:
    content: '{"next":"https://api.uploadcare.com/files/?from=2021-09-17T09%3A47%3A30.092729%2B00%3A00&offset=0","previous":null,"total":0,"per_page":100,"results":[{"datetime_removed":null,"datetime_stored":"2021-09-17T04:27:29.692095Z","datetime_uploaded":"2021-09-17T04:27:29.545259Z","image_info":{"width":960,"height":640,"format":"JPEG","color_mode":"RGB","geo_location":null,"orientation":null,"dpi":null,"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/fd27315a-4f8c-463e-803a-12aec47c19ce/KBZCTLSNWU.jpg","original_filename":"KBZCTLSNWU.jpg","size":757376,"url":"https://api.uploadcare.com/files/fd27315a-4f8c-463e-803a-12aec47c19ce/","uuid":"fd27315a-4f8c-463e-803a-12aec47c19ce","variations":null,"video_info":null},{"datetime_removed":null,"datetime_stored":"2021-09-17T04:27:40.576111Z","datetime_uploaded":"2021-09-17T04:27:40.439681Z","image_info":{"width":960,"height":640,"format":"JPEG","color_mode":"RGB","geo_location":null,"orientation":null,"dpi":null,"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/a7d0acc9-3fef-47d9-93b1-093771437fff/P4JMKV4T0M.jpg","original_filename":"P4JMKV4T0M.jpg","size":625379,"[...]
