interactions:
- request:
    body: "--4c8df1a4ab33a7bff11b573b8ca830f7\r\nContent-Disposition: form-data; name=\"\
      UPLOADCARE_STORE\"\r\n\r\nauto\r\n--4c8df1a4ab33a7bff11b573b8ca830f7\r\nContent-Disposition:\
      \ form-data; name=\"UPLOADCARE_PUB_KEY\"\r\n\r\ndemopublickey\r\n--4c8df1a4ab33a7bff11b573b8ca830f7\r\
      \nContent-Disposition: form-data; name=\"expire\"\r\n\r\n60\r\n--4c8df1a4ab33a7bff11b573b8ca830f7\r\
      \nContent-Disposition: form-data; name=\"signature\"\r\n\r\n7d2e71d1843788a02d0c7fe6f5d71edf657363a369112e78d4f37ace3f884b00\r\
      \n--4c8df1a4ab33a7bff11b573b8ca830f7\r\nContent-Disposition: form-data; name=\"\
      sample1.txt\"; filename=\"sample1.txt\"\r\nContent-Type: text/plain\r\n\r\n\
      test1\r\n--4c8df1a4ab33a7bff11b573b8ca830f7--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=4c8df1a4ab33a7bff11b573b8ca830f7
    method: POST
    uri: https://upload.uploadcare.com/base/
  response:
    content: '{"sample1.txt":"9d149d14-1f94-434c-b791-698f9e3c62df"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/9d149d14-1f94-434c-b791-698f9e3c62df/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2021-09-29T13:22:03.925291Z","datetime_uploaded":"2021-09-29T13:22:03.859595Z","image_info":null,"is_image":false,"is_ready":true,"mime_type":"text/plain","original_file_url":"https://ucarecdn.com/9d149d14-1f94-434c-b791-698f9e3c62df/sample1.txt","original_filename":"sample1.txt","size":5,"url":"https://api.uploadcare.com/files/9d149d14-1f94-434c-b791-698f9e3c62df/","uuid":"9d149d14-1f94-434c-b791-698f9e3c62df","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
