interactions:
- request:
    body: "--646efeb57a4a2a598bd992325aa88890\r\nContent-Disposition: form-data; name=\"\
      UPLOADCARE_STORE\"\r\n\r\nauto\r\n--646efeb57a4a2a598bd992325aa88890\r\nContent-Disposition:\
      \ form-data; name=\"UPLOADCARE_PUB_KEY\"\r\n\r\ndemopublickey\r\n--646efeb57a4a2a598bd992325aa88890\r\
      \nContent-Disposition: form-data; name=\"expire\"\r\n\r\n60\r\n--646efeb57a4a2a598bd992325aa88890\r\
      \nContent-Disposition: form-data; name=\"signature\"\r\n\r\n7d2e71d1843788a02d0c7fe6f5d71edf657363a369112e78d4f37ace3f884b00\r\
      \n--646efeb57a4a2a598bd992325aa88890\r\nContent-Disposition: form-data; name=\"\
      sample1.txt\"; filename=\"sample1.txt\"\r\nContent-Type: text/plain\r\n\r\n\
      test1\r\n--646efeb57a4a2a598bd992325aa88890\r\nContent-Disposition: form-data;\
      \ name=\"sample2.txt\"; filename=\"sample2.txt\"\r\nContent-Type: text/plain\r\
      \n\r\ntest2\r\n--646efeb57a4a2a598bd992325aa88890--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=646efeb57a4a2a598bd992325aa88890
    method: POST
    uri: https://upload.uploadcare.com/base/
  response:
    content: '{"sample1.txt":"e514d570-23aa-4378-aa9e-6489b21e329d","sample2.txt":"0b7cdf7c-a134-4349-adb4-28caa38ca76b"}'
    headers:
      Content-Type:
      - application/json
      X-Uploadcare-Request-Id:
      - c2f3f8a9-205e-459c-95e2-11a9413a2bba
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/e514d570-23aa-4378-aa9e-6489b21e329d/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2022-11-23T12:32:57.215395Z","datetime_uploaded":"2022-11-23T12:32:57.162320Z","is_image":false,"is_ready":true,"mime_type":"text/plain","original_file_url":"https://ucarecdn.com/e514d570-23aa-4378-aa9e-6489b21e329d/sample1.txt","original_filename":"sample1.txt","size":5,"url":"https://api.uploadcare.com/files/e514d570-23aa-4378-aa9e-6489b21e329d/","uuid":"e514d570-23aa-4378-aa9e-6489b21e329d","variations":null,"content_info":{"mime":{"mime":"text/plain","type":"text","subtype":"plain"}},"metadata":{}}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project'
      X-Uploadcare-Request-Id:
      - d3221db1-0155-445b-96a8-420ea8f8db12
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/0b7cdf7c-a134-4349-adb4-28caa38ca76b/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2022-11-23T12:32:57.290346Z","datetime_uploaded":"2022-11-23T12:32:57.191341Z","is_image":false,"is_ready":true,"mime_type":"text/plain","original_file_url":"https://ucarecdn.com/0b7cdf7c-a134-4349-adb4-28caa38ca76b/sample2.txt","original_filename":"sample2.txt","size":5,"url":"https://api.uploadcare.com/files/0b7cdf7c-a134-4349-adb4-28caa38ca76b/","uuid":"0b7cdf7c-a134-4349-adb4-28caa38ca76b","variations":null,"content_info":{"mime":{"mime":"text/plain","type":"text","subtype":"plain"}},"metadata":{}}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project'
      X-Uploadcare-Request-Id:
      - 6722411a-a1f0-4975-8216-9b1530f230ac
    status_code: 200
version: 1
