interactions:
- request:
    body: target_url=https%3A%2F%2Fwebhook.site%2F699ba5a4-b178-41c7-b416-5d1b6739d052&event=moderation.state_changed&is_active=true
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.uploadcare.com/webhooks/
  response:
    content: '{"id":865716,"created":"2026-09-15T11:47:28.365251Z","updated":"2026-09-15T11:47:28.365271Z","event":"moderation.state_changed","target_url":"https://webhook.site/699ba5a4-b178-41c7-b416-5d1b6739d052","project":159,"is_active":true,"signing_secret":null}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS, POST
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
    status_code: 201
version: 1
