interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/webhooks/
  response:
    content: '[{"id":848006,"created":"2021-10-07T07:13:37.399931Z","updated":"2021-10-07T07:13:37.399950Z","event":"file.uploaded","target_url":"https://webhook.site/699ba5a4-b178-41c7-b416-5d1b6739d052","project":159,"is_active":true,"signing_secret":null}]'
    headers:
      Allow:
      - GET, HEAD, OPTIONS, POST
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
