interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/a55d6b25-d03c-4038-9838-6e06bb7df598/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2022-10-05T00:13:16.162526Z","datetime_uploaded":"2022-10-05T00:13:16.093042Z","is_image":false,"is_ready":true,"mime_type":"text/plain","original_file_url":"https://ucarecdn.com/a55d6b25-d03c-4038-9838-6e06bb7df598/sample1.txt","original_filename":"sample1.txt","size":5,"url":"https://api.uploadcare.com/files/a55d6b25-d03c-4038-9838-6e06bb7df598/","uuid":"a55d6b25-d03c-4038-9838-6e06bb7df598","variations":null,"content_info":{"mime":{"mime":"text/plain","type":"text","subtype":"plain"}},"metadata":{"first_key":"first_value","second_key":"any_others"}}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.7'
      X-Uploadcare-Request-Id:
      - e32802f8-3ae6-46be-9ca2-54e29ea6855b
    status_code: 200
version: 1
