interactions:
- request:
    body: '{"source": "35ea470d-216c-4752-91d2-5176b34c1225/-/effect/flip/-/effect/mirror/",
      "store": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/files/local_copy/
  response:
    content: '{"type":"file","result":{"datetime_removed":null,"datetime_stored":"2021-09-24T08:20:48.972487Z","datetime_uploaded":"2021-09-24T08:20:48.972487Z","image_info":null,"is_image":null,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/01e7ab6c-3b6b-48d9-b522-b4eb1ca24b95/camera.jpg","original_filename":"camera.jpg","size":0,"url":"https://api.uploadcare.com/files/01e7ab6c-3b6b-48d9-b522-b4eb1ca24b95/","uuid":"01e7ab6c-3b6b-48d9-b522-b4eb1ca24b95","variations":null,"video_info":null}}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Location:
      - https://api.uploadcare.com/files/01e7ab6c-3b6b-48d9-b522-b4eb1ca24b95/
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 201
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/01e7ab6c-3b6b-48d9-b522-b4eb1ca24b95/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2021-09-24T08:20:48.972487Z","datetime_uploaded":"2021-09-24T08:20:48.972487Z","image_info":{"width":1280,"height":720,"format":"JPEG","color_mode":"RGB","geo_location":null,"orientation":null,"dpi":null,"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/01e7ab6c-3b6b-48d9-b522-b4eb1ca24b95/camera.jpg","original_filename":"camera.jpg","size":145711,"url":"https://api.uploadcare.com/files/01e7ab6c-3b6b-48d9-b522-b4eb1ca24b95/","uuid":"01e7ab6c-3b6b-48d9-b522-b4eb1ca24b95","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/5095ab8a-5500-4ddb-9749-61ca2fd42683/
  response:
    content: '{"datetime_removed":null,"datetime_stored":null,"datetime_uploaded":"2021-09-24T08:20:50.526446Z","image_info":{"width":1280,"height":720,"format":"JPEG","color_mode":"RGB","geo_location":null,"orientation":null,"dpi":null,"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/5095ab8a-5500-4ddb-9749-61ca2fd42683/camera.jpg","original_filename":"camera.jpg","size":145711,"url":"https://api.uploadcare.com/files/5095ab8a-5500-4ddb-9749-61ca2fd42683/","uuid":"5095ab8a-5500-4ddb-9749-61ca2fd42683","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
