interactions:
- request:
    body: filename=%2Fvar%2Ffolders%2Fc0%2F9fpn0kv11dq0flr9jnm2bhs80000gn%2FT%2Ftmp9f7xtc5i%2Fbig_file.txt&size=11000000&content_type=text%2Fplain&UPLOADCARE_PUB_KEY=e5b76258e05f2aabe85c&UPLOADCARE_STORE=1&expire=60&signature=061ed204a72402498e7a39014822ec303b9c4cc7c768ea4e4e00ba3023a9b532
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://upload.uploadcare.com/multipart/start/
  response:
    content: '{"uuid":"2d57b2e3-8ff8-4ef5-b247-1dce3a461038","parts":["https://uploadcare.s3-accelerate.amazonaws.com/2d57b2e3-8ff8-4ef5-b247-1dce3a461038/big_file.txt?uploadId=DI.a65WV3ZivChm416JH53dMgi_QKdUJqLpy0nK7ka9_bTp0PWzL1q2zQX9qUTTfT.gxzYQNG12FJU_ZCH0OeRXw.mEGKd4V6VaaWQuLla2xgzx9aqIbXt_pUSmZtHtf&partNumber=1&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA5C7IQCBHORWBLSGS%2F20210929%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210929T134230Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=b0dc3c8a93de79d74323deeb96e894c330df1d3d638b7e5[...]
- request:
    body: ''
    headers:
      content-type:
      - application/octet-stream
    method: PUT
    uri: https://uploadcare.s3-accelerate.amazonaws.com/2d57b2e3-8ff8-4ef5-b247-1dce3a461038/big_file.txt?uploadId=DI.a65WV3ZivChm416JH53dMgi_QKdUJqLpy0nK7ka9_bTp0PWzL1q2zQX9qUTTfT.gxzYQNG12FJU_ZCH0OeRXw.mEGKd4V6VaaWQuLla2xgzx9aqIbXt_pUSmZtHtf&partNumber=1&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA5C7IQCBHORWBLSGS%2F20210929%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210929T134230Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=b0dc3c8a93de79d74323deeb96e894c330df1d3d638b7e554de03156f86129d8
  response:
    content: ''
    headers:
      ETag:
      - '"7d7a6dd7e37454c6a82992eabe7a4613"'
      x-amz-request-id:
      - JAD3K271HFMYCB7P
      x-amz-server-side-encryption:
      - AES256
    status_code: 200
[...]
- request:
    body: uuid=2d57b2e3-8ff8-4ef5-b247-1dce3a461038&UPLOADCARE_PUB_KEY=e5b76258e05f2aabe85c
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://upload.uploadcare.com/multipart/complete/
  response:
    content: '{"size":11000000,"total":11000000,"done":11000000,"uuid":"2d57b2e3-8ff8-4ef5-b247-1dce3a461038","file_id":"2d57b2e3-8ff8-4ef5-b247-1dce3a461038","original_filename":"big_file.txt","is_image":false,"is_stored":true,"image_info":null,"video_info":null,"is_ready":true,"filename":"big_file.txt","mime_type":"text/plain"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
