interactions:
- request:
    body: '{"paths": ["740e1b8c-1ad8-4324-b7ec-112c79d8eac2/video/-/format/webm/-/thumbs~2/"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/convert/video/
  response:
    content: '{"result": [{"original_source": "740e1b8c-1ad8-4324-b7ec-112c79d8eac2/video/-/format/webm/-/thumbs~2/",
      "token": 943721600, "uuid": "72967d89-18bd-4906-a675-762ae721ccb5", "thumbnails_group_uuid":
      "e16536ff-7250-4376-81a4-596e3fef37b0~2"}], "problems": {}}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/files/72967d89-18bd-4906-a675-762ae721ccb5/
  response:
    content: '{"datetime_removed":null,"datetime_stored":"2021-09-30T15:33:32.522449Z","datetime_uploaded":"2021-09-30T15:33:32.522449Z","image_info":null,"is_image":null,"is_ready":false,"mime_type":"","original_file_url":null,"original_filename":"video.webm","size":0,"url":"https://api.uploadcare.com/files/72967d89-18bd-4906-a675-762ae721ccb5/","uuid":"72967d89-18bd-4906-a675-762ae721ccb5","variations":null,"video_info":null}'
    headers:
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
    status_code: 200
version: 1
