interactions:
- request:
    body: '{"source": "463c38f7-8a27-46bb-bebc-2e0617d159a4/-/grayscale/-/flip/",
      "store": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.uploadcare.com/files/local_copy/
  response:
    content: '{"type":"file","result":{"datetime_removed":null,"datetime_stored":"2021-10-12T08:25:23.431203Z","datetime_uploaded":"2021-10-12T08:25:23.431203Z","image_info":null,"is_image":null,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/bd65d41c-46dc-4212-b4fb-93264290dc4c/Octocat.png","original_filename":"Octocat.png","size":0,"url":"https://api.uploadcare.com/files/bd65d41c-46dc-4212-b4fb-93264290dc4c/","uuid":"bd65d41c-46dc-4212-b4fb-93264290dc4c","variations":null,"video_info":null}}'
    headers:
      Allow:
      - OPTIONS, POST
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Location:
      - https://api.uploadcare.com/files/bd65d41c-46dc-4212-b4fb-93264290dc4c/
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 201
version: 1
