interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.uploadcare.com/groups/8b1362ed-b477-4a15-819a-2c6bb497d8bd~3/
  response:
    content: '{"id":"8b1362ed-b477-4a15-819a-2c6bb497d8bd~3","datetime_created":"2013-04-16T14:13:42.600051Z","datetime_stored":"2015-02-03T11:23:47.824683Z","files_count":3,"cdn_url":"https://ucarecdn.com/8b1362ed-b477-4a15-819a-2c6bb497d8bd~3/","url":"https://api.uploadcare.com/groups/8b1362ed-b477-4a15-819a-2c6bb497d8bd~3/","files":[null,null,null]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project; Please use API
        version 0.5, not 0.6'
    status_code: 200
version: 1
